/*  ======== GENERALS ======== */


@font-face {
    font-family: 'Cormorant';
    src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf");
}

@font-face {
    font-family: 'Bold';
    src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    color: #333;
}

/*  HEADER */

body {
    background-color: rgb(233, 233, 224);
}

h1 {
    display: block;
    text-align: center;
    font-size: 4.3rem;
    margin-top: 5vh;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10vh;
    margin-right: 10vh;
    /* Lieber dem body einen padding geben für gleichmäßigkeit der Seite */
    border-top: 5px double #333;
    border-bottom: 5px double #333;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.4rem;
}


/* GRID */



.grid_container {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 70px 11vh 22vh 17vh;
    grid-template-areas:
        "container1 container1 container1 container1 container1"
        "container2 container3 container8 container8 container9"
        "container4 container5 container8 container8 container9"
        "container6 container7 container8 container8 container9";
    margin-left: 10vh;
    margin-right: 10vh;
    gap: 10px;

}


.container1 {
    font-family: 'bold';
    grid-area: container1;
    display: flex;
    justify-content: space-evenly;
    font-size: 3.9rem;
    display: flex;
    align-items: center;
}

.container1 p {
    font-size: 1.9rem;
    font-family: 'bold';
}

.container2 {
    grid-area: container2;
    font-size: 1.4rem;
}

.container3 {
    grid-area: container3;
    font-size: 1.4rem;
}

.container4 {
    grid-area: container4;
    font-size: 1.4rem;
}

.container5 {
    grid-area: container5;
    font-size: 1.4rem;
}

.container6 {
    grid-area: container6;
    font-size: 1.4rem;
}

.container7 {
    grid-area: container7;
    font-size: 1.4rem;
}

.container8 {
    grid-area: container8;
    width: 100%;
}

.container9 {
    grid-area: container9;
    display: block;
    text-align: center;


}

.container9 h2 {
    font-size: 5rem;
    margin-bottom: 3vh;
    border: 5px double #333;
    margin-left: 5vh;
    margin-right: 5vh;
    padding-left: 2%;
    padding-right: 2%;

}

.container9 h3 {
    font-size: 2rem;
}



.container9 article {
    border: 5px double #333;
    margin-right: 5vh;
    margin-left: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-bottom: 3vh;
    padding-left: 4vh;
    padding-right: 4vh;
    font-size: 1.3rem;
}




.container8 img {
    height: 120%;
    width: 100%;
    padding-left: 5%;

}

.container9 img {
    height: 50%;
    filter: grayscale(100%);
    border: 5px double #333;
    padding: 2vh;
}

.container9 a {
    color: rgb(151, 148, 148);
    line-height: 10%;
    font-size: 1.4rem;

}